<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= __("contactForm.title") %>
    </title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <div class="main">
        <div class="container">
            <h2>
                <%= __("contactForm.form.heading") %>
            </h2>
            <form action="#" method="post">
                <label for="name"><%= __("contactForm.form.nameLabel") %></label>
                <input type="text" id="name" name="name" class="input-field" required>

                <label for="email"><%= __("contactForm.form.emailLabel") %></label>
                <input type="email" id="email" name="email" class="input-field" required>

                <label for="message"><%= __("contactForm.form.messageLabel") %></label>
                <textarea id="message" name="message" class="input-field" rows="4" required></textarea>

                <input type="submit" value="<%= __('contactForm.form.submitButton') %>">
            </form>
        </div>
    </div>
    <script type="module" src="./javascripts/contact.js"></script>
</body>

</html>