<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <h2>
        <%= __("authorization.registration.heading") %>
    </h2>
    <form action="/register" method="POST">

        <label for="vorname"><%= __("authorization.registration.firstName") %></label>
        <input type="text" id="vorname" name="vorname" required><br><br>

        <label for="nachname"><%= __("authorization.registration.lastName") %></label>
        <input type="text" id="nachname" name="nachname" required><br><br>

        <label for="email"><%= __("authorization.registration.email") %></label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="passwort"><%= __("authorization.registration.password") %></label>
        <input type="password" id="passwort" name="passwort" required><br><br>

        <input type="submit" value="<%= __('Registration Sign Up') %>">
        <input type="button" value="<%= __('Registration Log In') %>" id="loginButton">

        <a href="/contact" id="contactButton">
            <%= __("authorization.registration.contact") %>
        </a>
        <p id="error-message"></p>

    </form>
    <script type="module" src="./javascripts/app.js"></script>
</body>

</html>