<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= __("document.title") %>
    </title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <h2>
        <%= __("login.title") %>
    </h2>

    <form action="/login" method="POST" id="LogiForm">
        <div class="center-container">
            <a href="/contact" id="contactButton" class="smiley-button">
                📧
            </a>
            <%- include('languageSelector') %>

        </div>
        <label for="email"><%= __("login.login.email") %></label>
        <input type="email" id="LoginEmail" name="LoginEmail" required><br><br>

        <label for="password"><%= __("login.login.password") %></label>
        <input type="password" id="LoginPasswort" name="LoginPasswort" required><br><br>

        <input type="submit" value="<%= __('login.login.logIn') %>">
        <input type="button" value="<%= __('login.login.forgotPassword') %>" id="forgotPasswordButton">

        <p id="errorMessage" style="color: red;">
            <%= __("login.login.errorMessage") %>
        </p>
    </form>
    <script type="module" src="./javascripts/login.js"></script>
</body>

</html>